* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

body, html {
    width: 100%;
    height: 100%;
}

html, body {
    overflow: hidden;            
    -ms-overflow-style: none;    
    scrollbar-width: none;       
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

#main {
    width: 100%;
    height: 100vh;
}

#back {
    width: 100%;
    height: 100vh;
    background-color: black;
}

#back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#top {
    pointer-events: none;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 999;
}

#workingarea {
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
    height: 100vh;
}

#nav {
    z-index: 500;
    width: 100%;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav img {
    height: 60px;
}

#nleft, #nright {
    display: flex;
    align-items: center;
    gap: 60px;
}

#nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    font-family: 'gilroy';
    pointer-events: all;
    cursor: pointer;
    transition: 0.3s ease;
}
#nav a:hover {
    color: black;
}

#hero {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#heroleft {
    min-width: 50%;
}

#heroleft .elem {
    position: relative;
    width: 100%;
    height: 9vw;
    overflow: hidden;
}

#heroleft button {
    margin-top: 2vw;
    padding: .8vw 3vw;
    font-size: 3vw;
    font-family: 'Kajiro';
    background: white;
    border: none;
    cursor: pointer;
    pointer-events: all;
}

#heroleft .elem h1 {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 0.9;
    font-family: 'kajiro';
    font-weight: 100;
    font-size: 11vw;
}

#heroleft .elem h1:nth-child(1) {
    top: 0;
    color: white;
}

#heroleft .elem h1:nth-child(2) {
    color: black;
}

#heroleft .elem h1:nth-child(3) {
    color: white;
}

#heroleft .elem h1:nth-child(4) {
    color: white;
}

#heroleft .elem h1:nth-child(5) {
    color: black;
}

#heroright {
    width: 17%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#heroright p {
    text-align: right;
    font-size: 15px;
    font-weight: 300;
}

#heroright #imagediv {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 170px;
    width: 100%;
    background-image: url(images/baground.jpg);
    background-size: cover;
    background-position: center;
}

#heroright p:nth-child(3) {
    margin-bottom: 100px;
}
